main {
  width: 75%;
}

body {
  display: flex;
}
iframe {
  float: right;
}
.text {
  color: white;
}

.descriptionText {
  width: 50%;
  padding-right: 15px;
  overflow-wrap: break-word;
}

p {
  color: white;
  font-size: 23px;
}
